body {
	margin: 0;
}

.hero {
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

.hero::after {
	content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 80, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.top__text {
	position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
    max-width: 80%;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
    font-size: 5vw;
}

.social {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	z-index: 3;
}

.box-one {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.end:after {
	content: "";
	position: absolute;
	z-index: 2;
    background-color: rgba(29, 29, 80, 0.85);
	left: 0;
	top: 0;
	width: 100%;
    height: 100%;
}


.top-logo {
	width: 100%;
	position: absolute;
}

@media (max-width: 640px) {
.hero {
    background-image: url(img/football_767.jpg);
    padding-top: 10%;

}

.hero__logo {
    width: 34%;
    margin-bottom: 28%;
    position: relative;
    z-index: 3;
}

.top__text {
	margin-bottom: 30%;
}

.be {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	margin-bottom: 5%;
	width: 100%;
}

.play {
	width: 73vw;
	margin-left: auto;
	text-align: left;
	padding-top: 5%;
}

.social {
	width: 85%;
	padding-bottom: 20%;
}

.button {
	display: flex;
	width: 100%;
	background-color: #5e3db3;
	border-radius: 50px;
	margin-bottom: 5%;
	padding-top: 2vw;
	padding-bottom: 2vw;
	text-decoration: none;
}

.social__icon {
	margin: auto;
	width: 10%;
	padding-left: 31%;
}

.social-text {
	width: 75%;
	padding-left: 2%;
	margin: auto;
    color: white;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.social-text_normal {
	font-size: 2vw;
	text-align: left;
	font-family: "Open Sans", Arial, sans-serif;
	text-transform: uppercase;
	width: 100%;
}

.social-text_bold {
	font-size: 2vw;
	text-align: left;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
}

.card {
	width: 100%;
}

.box__text {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 4vw;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.box__subtitles {
	position: relative;
	font-size: 7vw;
	color: #c1c1c1;
	text-transform: uppercase;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: bold;
	padding-left: 8vw;
	width: 83%;
	margin-left: auto;
	margin-right: auto;
}

.box-one::after {
	content: "";
    background-image: url(img/footballer_192.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 90vw;
    background-size: contain;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    background-position: center;
    top: 10%;
    left: 0;
}

.box-one_inner-first {
	background-color: #fafafa;
	padding: 4vw 0 12vw;
}

.box-one_inner-second {
	background-color: #f5f4f9;
	padding: 4vw 0 12vw;
}

.box-one_inner-third {
	background-color: #5e42b0;
	color: white;
	padding: 4vw 0 12vw;
}

.box-one__title {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: bold;
	width: 70%;
	margin-left: 5%;
	font-size: 16vw;
	text-transform: uppercase;
	color: #e7e7e7;
	margin-bottom: 100%;
	margin-top: 2%;
}

.card-info__section__players__first {
	background-color: #fafafa;
	width: 100%;
	padding: 4vw 0 12vw;
}

.card-info__section__players__second {
	background-color: #f5f4f9;
	width: 100%;
	padding: 4vw 0 12vw;
}

.card-info__section__players__third {
	background-color: #090c35;
	width: 100%;
	color: white;
	padding: 4vw 0 12vw;
}

.box-one_subtitle-one::before {
    position: absolute;
    content: '01';
    font-size: 5vw;
    color: #212121;
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 4px solid #5e42b0;
    left: 1vw;
}

.box-one_subtitle-two::before {
    position: absolute;
    content: '02';
    font-size: 5vw;
    color: #212121;
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 4px solid #5e42b0;
    left: 1vw;
}

.box-one_subtitle_three::before {
    position: absolute;
    content: '03';
    font-size: 5vw;
    color: #8765dd;
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 4px solid #ffffff;
    left: 1vw;
}

.box-one__title__players {
	order: 1;
	width: 100%;
}

.card-info__section__two {
	margin: auto;
	width: 80%;
	padding-top: 3vw;
    padding-bottom: 3vw;
}

.box-two__title {
	margin-left: 5%;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: bold;
	width: 70%;
	margin-right: auto;
	font-size: 16vw;
	text-transform: uppercase;
	color: #e7e7e7;
	margin-bottom: 90%;
	margin-top: 2%;
}

.box-two {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.box-two::after {	
	content: "";
	background-image: url(img/basketballer_302.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 80vw;
    background-size: contain;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    background-position: center;
    bottom: 55%;
}

.box-three__subtitle {
	font-size: 9vw;
	color: #c1c1c1;
	text-transform: uppercase;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: bold;
}

.box-three__img_be-active {	
	background-image: url(img/be-active_640.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 105vw;
    background-size: cover;
    margin: 0 auto;
}

.box-three__img_find-contact {	
	background-image: url(img/find-contact_640.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 105vw;
    background-size: cover;
    margin: 0 auto;
}

.box-three__img_work-it {	
	background-image: url(img/work-it_640.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 105vw;
    background-size: cover;
    margin: 0 auto;
}

.box-three__card-info_be-active {
	padding-left: 6%;
	padding-right: 6%;
	box-sizing: border-box;
	position: relative;
}

.box-three__card-info_find-contact {
	padding-left: 6%;
	padding-right: 6%;
	box-sizing: border-box;
	position: relative;
}

.box-three__card-info_work-it {
	padding-left: 6%;
	padding-right: 6%;
	box-sizing: border-box;
	position: relative;
}

.box-three__card-info_be-active::before {
	content: "01";
    box-sizing: border-box;
    position: absolute;
    top: -75%;
    left: 5.5%;
    font-size: 4.3vw;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding: 9%;
    background-color: #5e42b0;
}

.box-three__card-info_be-active::after {
	content: '';
    position: absolute;
    top: -29%;
    left: 14.8%;
    height: 0;
    width: 4%;
    border-top: 3px solid #8f7bc8;
    z-index: 2;
}

.box-three__card-info_find-contact::before {
	content: "02";
    box-sizing: border-box;
    position: absolute;
    top: -75%;
    left: 5.5%;
    font-size: 4.3vw;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding: 9%;
    background-color: #5e42b0;
}

.box-three__card-info_find-contact::after {
	content: '';
    position: absolute;
    top: -29%;
    left: 14.9%;
    height: 0;
    width: 4%;
    border-top: 3px solid #8f7bc8;
    z-index: 2;
}
.box-three__card-info_work-it::before {
	content: "03";
    box-sizing: border-box;
    position: absolute;
    top: -55%;
    left: 5.5%;
    font-size: 4.3vw;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding: 9%;
    background-color: #5e42b0;
}

.box-three__card-info_work-it::after {
	content: '';
    position: absolute;
    top: -22%;
    left: 14.9%;
    height: 0;
    width: 4%;
    border-top: 3px solid #8f7bc8;
    z-index: 2;
}

.box-three__text {
	font-size: 5vw;
	font-family: "Open Sans", Arial, sans-serif;
}

.end__logo {
	position: absolute;
	z-index: 3;
	width: 80%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.end__text {
	position: relative;
	z-index: 3;
	max-width: 85%;
	height: 30%;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25%;
}

.social__end {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	position: relative;
	z-index: 3;
	margin-bottom: 30%;
}

.end__top-logo {
	box-sizing: border-box;
	width: 22%;
	position: relative;
	z-index: 3;
	background-color: #7352d0;
    border-radius: 33%;
    padding: 3%;
    margin-bottom: 10%;
}

.end {
    color: #ffffff;
    background-image: url(img/game_767.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    position: relative;
    text-align: center;
}

.download {
	margin-bottom: 5%;
	font-size: 10vw;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.show {
	font-size: 4.5vw;
	color: #a496ca;
	margin: auto;
	font-weight: normal;
}

.end__bottom-logo {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-top: auto;
    bottom: 0;
    z-index: 3;
    padding-bottom: 3%;

}

.end__bottom-logo__img {
	width: 100%;
    height: 30%;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.end__bottom-logo__img::before {
	width: 100%;
    height: 30%;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
}

@media (min-width: 641px) and (max-width: 960px) {
.hero {
    background-image: url(img/football_1280.jpg);
    padding-top: 5%;
}

.hero__logo {
    width: 34%;
    margin-bottom: 20%;
    position: relative;
    z-index: 3;
}

.top__text {
    margin-bottom: 28%;
}	

.be {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	margin-bottom: 5%;
	width: 100%;
}

.play {
	width: 69vw;
	margin-left: auto;
	text-align: left;
}

.social {
	width: 80%;
	padding-bottom: 12%;
}

.button {
	display: flex;
    width: 48%;
    background-color: #5e3db3;
    border-radius: 50px;
    position: relative;
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-decoration: none;
}

.social__icon {
	margin: auto;
	width: 15%;
	padding-left: 10%;
}

.social-text {
	display: flex;
	flex-wrap: wrap;
	width: 60%;
    margin: auto;
    text-decoration: none;
    text-align: left;
    margin: auto;
    color: white;
}

.social-text_normal {
	font-size: 80%;
	text-align: left;
	font-family: "Open Sans", Arial, sans-serif;
	text-transform: uppercase;
	width: 100%;
}

.social-text_bold {
	font-size: 80%;
	text-align: left;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
}

.card-info {
	width: 100%;
}

.box__text {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 100%;
}

.box__subtitles {
	font-size: 3vw;
	color: #c1c1c1;
	text-transform: uppercase;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: bold;
	padding-left: 5%;
	position: relative;
}

.box-one_subtitle-one::before {
    position: absolute;
    content: '01';
    font-size: 2vw;
    color: #212121;
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 4px solid #5e42b0;
    left: 0;
}

.box-one_subtitle-two::before {
    position: absolute; 
    content: '02';
    font-size: 2vw;
    color: #212121;
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 4px solid #5e42b0;
    left: 0;
}

.box-one_subtitle_three::before {
    position: absolute;
    content: '03';
    font-size: 2vw;
    color: #8765dd;
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 4px solid #ffffff;
    left: 0;
}

.box-one::after {
	content: "";
    background-image: url(img/footballer_497.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 79vw;
    background-size: contain;
    margin: auto;
    position: absolute;
    z-index: 2;
    background-position: center;
    top: 0;
    bottom: 0;
    left: -33%;
}

.box-one_inner-first {
	background-color: #fafafa;
	padding: 2vw 6% 2vw 40%;
}

.box-one_inner-second {
	background-color: #f5f4f9;
	padding: 2vw 6% 2vw 40%;
}

.box-one_inner-third {
	background-color: #5e42b0;
	padding: 2vw 6% 2vw 40%;
	color: white;
}

.card__image__wrapper {
	width: 35%;
	order: 1;
}

.box-one__title {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: bold;
	width: 60%;
	margin-right: auto;
	font-size: 10vw;
	text-transform: uppercase;
	color: #e7e7e7;
	margin-left: auto;
	padding-left: 40%;
}

.text__wrapper {
	order: 3;
	margin-left: auto;
	width: 100%
}

.card-info__players {
	width: 100%;
}

.card-info__section__players__first {
	background-color: #fafafa;
	width: 54%;
    padding: 2vw 40% 2vw 6%;
}

.card-info__section__players__second {
	background-color: #f5f4f9;
	width: 54%;
    padding: 2vw 40% 2vw 6%;
}

.card-info__section__players__third {
	background-color: #090c35;
	width: 54%;
    padding: 2vw 40% 2vw 6%;
    color: white;
}

.box-two__title {
	padding-left: 6%;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: bold;
	width: 70%;
	margin-right: auto;
	font-size: 10vw;
	text-transform: uppercase;
	color: #e7e7e7;
}

.box-two {
	position: relative;
	width: 100%;
}

.box-two::after {
	content: "";
	background-image: url(img/basketballer_436.png);
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    right: 0;
    background-size: contain;
    margin: auto;
    position: absolute;
    z-index: 2;
    background-position: center;
    top: 0;
    bottom: 11%;
}

.box-one__title__players {
	order: 2;
	width: 100%;
}

.box-three__card-info_be-active {
	padding-left: 6%;
	padding-right: 6%;
	box-sizing: border-box;
	position: relative;
	margin-bottom: 11%;
}

.box-three__card-info_find-contact {
	padding-left: 6%;
	padding-right: 6%;
	box-sizing: border-box;
	position: relative;
	margin-bottom: 11%;
}

.box-three__card-info_work-it {
	padding-left: 6%;
	padding-right: 6%;
	box-sizing: border-box;
	position: relative;
	margin-bottom: 11%;
}

.box-three__subtitle {
	font-size: 10vw;
	color: #c1c1c1;
	text-transform: uppercase;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: bold;
}

.box-three__img_be-active {	
	background-image: url(img/be-active_960.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 76vw;
    background-size: cover;
    margin: 0 auto;
}

.box-three__img_find-contact {	
	background-image: url(img/find-contact_960.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 76vw;
    background-size: cover;
    margin: 0 auto;
}

.box-three__img_work-it {	
	background-image: url(img/work-it_960.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 76vw;
    background-size: cover;
    margin: 0 auto;
}

.box-three__card-info_be-active::before {
    content: '01';
    box-sizing: border-box;
    position: absolute;
	top: -66%;
    left: 5%;
    font-size: 3.3vw;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding: 5%;
    background-color: #5e42b0;
}

.box-three__card-info_be-active::after {
    content: '';
    position: absolute;
    top: -35%;
    left: 10.1%;
    height: 0;
    width: 3.5%;
    border-top: 5px solid #8f7bc8;
    z-index: 2;
}

.box-three__card-info_find-contact::before {
    content: '02';
    box-sizing: border-box;
    position: absolute;
	top: -66%;
    left: 5%;
    font-size: 3.3vw;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding: 5%;
    background-color: #5e42b0;
}

.box-three__card-info_find-contact::after {
    content: '';
    position: absolute;
    top: -35%;
    left: 10.1%;
    height: 0;
    width: 3.5%;
    border-top: 5px solid #8f7bc8;
    z-index: 2;
}

.box-three__card-info_work-it::before {
    content: '03';
    box-sizing: border-box;
    position: absolute;
	top: -66%;
    left: 5%;
    font-size: 3.3vw;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding: 5%;
    background-color: #5e42b0;
}

.box-three__card-info_work-it::after {
    content: '';
    position: absolute;
    top: -35%;
    left: 10.1%;
    height: 0;
    width: 3.5%;
    border-top: 5px solid #8f7bc8;
    z-index: 2;
}

.box-three__text {
	font-size: 3vw;
	font-family: "Open Sans", Arial, sans-serif;
}

.end {
    color: #ffffff;
    background-image: url(img/game_767.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    background-size: cover;
    position: relative;
    text-align: center;
}

.end__logo {
	position: absolute;
	z-index: 3;
	width: 80%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.end__text {
	position: relative;
	z-index: 3;
	max-width: 90%;
	height: 30%;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 35%;
}

.social__end {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5%;
	text-align: center;
	position: relative;
	z-index: 3;
}

.end__top-logo {
	box-sizing: border-box;
	width: 17%;
	margin: auto;
	text-align: center;
	position: relative;
	z-index: 3;
	background-color: #7352d0;
    border-radius: 33%;
    padding: 3%;
}

.download {
    text-align: center;
    font-size: 10.5vw;
    line-height: 75%;
}

.show {
	font-size: 4.7vw;
	text-align: center;
	color: #a496ca;
	font-weight: normal;
}

.end__bottom-logo {
    width: 33%;
    height: 8%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 3;
    margin-bottom: 2%;
}

.end__bottom-logo__img {
	width: 100%;
    height: 30%;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
}

@media (min-width: 961px) and (max-width: 1920px), (min-width: 1921px) {
.hero {
    background-image: url(img/football_1920.jpg);
    padding-top: 2%;
}

.hero__logo {
    width: 10%;
    margin-bottom: 10%;
    position: relative;
    z-index: 3;
}

.top__text {
    margin-bottom: 10%;
}

.be {
	text-align: left;
	width: 100%;
	font-size: 94%;
	display: flex;
	flex-wrap: wrap;
	line-height: 100%;
}

.play {
	width: 70%;
	margin-left: auto;
	text-align: left;
}

.social {
    width: 40%;
    padding-bottom: 5%;
}

.button {
	display: flex;
    width: 48%;
    background-color: #5e3db3;
    border-radius: 1000px;
    position: relative;
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-decoration: none;
}

.social__icon {
	margin: auto;
	width: 15%;
	padding-left: 10%;
}

.social-text {
    width: 60%;
    text-decoration: none;
    margin: auto;
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.social-text_normal {
	font-size: 0.8vw;
	text-align: left;
	font-family: 'Open Sans', Arial, sans-serif;
	text-transform: uppercase;
	width: 100%;
}

.social-text_bold {
	font-size: 0.8vw;
	text-align: left;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
}

.box-two {
	box-sizing: border-box;
	width: 100%;
	position: relative;
	margin-left: auto;
}

.box__text {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 125%;
	width: 100%;
}

.box__subtitles {
	font-size: 225%;
	color: #c1c1c1;
	text-transform: uppercase;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: bold;
	padding-left: 30px;
	position: relative;
	margin: 0;
}

.box-one_subtitle-one::before {
    position: absolute; 
    content: '01';
    font-size: 63%;
    color: #212121;
    font-family: 'Open Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 4px solid #5e42b0;
    left: 0;
    top: 10%;
}

.box-one_subtitle-two::before {
    position: absolute; 
    content: '02';
    font-size: 63%;
    color: #212121;
    font-family: 'Open Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 4px solid #5e42b0;
    left: 0;
    top: 10%;
}

.box-one_subtitle_three::before {
    position: absolute; 
    content: '03';
    font-size: 63%;
    color: #8765dd;
    font-family: 'Open Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 4px solid #ffffff;
    left: 0;
    top: 10%;
}

.box-one::after {
	content: "";
    background-image: url(img/footballer_566.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: -10%;
 	margin: auto;
 	left: -100%;
 	right: 0;
 	background-position: right;
}

.box-one_inner-first {
	background-color: #fafafa;
	padding: 3vw 10% 3vw 53%;
	width: 100%;
}

.box-one_inner-second {
	background-color: #f5f4f9;
	padding: 3vw 10% 3vw 53%;
	width: 100%;
}

.box-one_inner-third {
	background-color: #5e42b0;
	padding: 3vw 10% 3vw 53%;
	color: white;
	width: 100%;
}

.box-one__title {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: bold;
	width: 47%;
	margin-right: auto;
	font-size: 4.2vw;
	text-transform: uppercase;
	color: #e7e7e7;
	margin-left: auto;
	padding-left: 53%;
}

.card-info__players {
	width: 100%;
}

.card-info__section__players__first {
	background-color: #fafafa;
	padding: 3vw 48% 3vw 6%;
	width: 46%;
}

.card-info__section__players__second {
	background-color: #f5f4f9;
	padding: 3vw 48% 3vw 6%;
	width: 46%;
}

.card-info__section__players__third {
	background-color: #090c35;
	padding: 3vw 48% 3vw 6%;
	width: 46%;
	color: white;
}

.box-two__title {
	padding-left: 6%;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: bold;
	width: 94%;
	margin-right: auto;
	font-size: 4.2vw;
	text-transform: uppercase;
	color: #e7e7e7;
}

.box-two::after {	
	content: "";
	background-image: url(img/basketballer_991.png);
    background-repeat: no-repeat;
    width: 50%;
    height: 93%;
    right: 0;
    background-size: contain;
    margin: auto;
    position: absolute;
    z-index: 2;
    background-position: center;
    top: 0;
    bottom: 0;
}

.box-three {
	display: flex;
	flex-wrap: wrap;
}

.box-three__card-info_be-active {
	order: 2;
	padding-left: 9%;
	padding-right: 9%;
	box-sizing: border-box;
	width: 50%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.box-three__card-info_find-contact {
	order: 3;
	padding-left: 9%;
	padding-right: 9%;
	box-sizing: border-box;
	width: 50%;
	position: relative;
	display: flex;
	flex-wrap: wrap;	
}

.box-three__card-info_work-it {
	order: 6;
	padding-left: 9%;
	padding-right: 9%;
	box-sizing: border-box;
	width: 50%;
	position: relative;
	display: flex;
	flex-wrap: wrap;	
}

.box-three__subtitle {
	font-size: 4vw;
	color: #c1c1c1;
	text-transform: uppercase;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-top: auto;
}

.box-three__img_be-active {	
	background-image: url(img/be-active_1024.jpg);
	background-position: center;
	order: 1;
    background-repeat: no-repeat;
    width: 50%;
    height: 40vw;
    background-size: cover;
    margin: 0 auto;
}

.box-three__img_find-contact {	
	background-image: url(img/find-contact_1024.jpg);
	background-position: center;
	order: 4;
    background-repeat: no-repeat;
    width: 50%;
    height: 40vw;
    background-size: cover;
    margin: 0 auto;
}

.box-three__img_work-it {	
	background-image: url(img/work-it_1024.jpg);
	background-position: center;
	order: 5;
    background-repeat: no-repeat;
    width: 50%;
    height: 40vw;
    background-size: cover;
    margin: 0 auto;
}

.box-three__card-info_be-active::before {
    content: '01';
    box-sizing: border-box;
    position: absolute;
	top: 30%;
    left: -8%;
    font-size: 1vw;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding: 6%;
    background-color: #5e42b0;
}

.box-three__card-info_be-active::after {
	content: '';
    position: absolute;
    top: 42%;
    left: -2.4%;
    height: 0;
    width: 3%;
    border-top: 5px solid #8f7bc8;

}

.box-three__card-info_find-contact::before {
    content: '02';
    box-sizing: border-box;
    position: absolute;
	top: 30%;
    right: -7%;
    font-size: 1vw;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding: 6%;
    background-color: #5e42b0;
}

.box-three__card-info_find-contact::after {
	content: '';  
    position: absolute;
    top: 42%;
 	right: -1.5%;
    height: 0;
    width: 3%;
    border-top: 5px solid #8f7bc8;
}

.box-three__card-info_work-it::before {
    content: '03';
    box-sizing: border-box;
    position: absolute;
	top: 29%;
    left: -8%;
    font-size: 1vw;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding: 6%;
    background-color: #5e42b0;
}

.box-three__card-info_work-it::after {
	content: '';
    position: absolute;
    top: 41%;
    left: -2.4%;
    height: 0;
    width: 3%;
    border-top: 5px solid #8f7bc8;
}

.box-three__text {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 150%;
	margin-bottom: auto;
}

.end {
    color: #ffffff;
    background-image: url(img/game_1920.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 11%;
    position: relative;
    display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.end__logo {
	position: absolute;
	z-index: 3;
	width: 80%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.end__text {
	position: relative;
	z-index: 3;
	width: 36%;
	height: 30%;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: auto;
	margin-bottom: 9%;
}

.social__end {
	width: 36%;
	display: flex;
	justify-content: space-between;
	margin-right: 32%;
	margin-left: 32%;
	margin-bottom: 13%;
	z-index: 3;
}

.end__top-logo {
	margin-left: auto;
	margin-right: 3%;
	z-index: 3;
	width: 7%;
	height: 13%;
	padding: 1%;
	border-radius: 25%;
	background-color: #7352d0;
}

.download {
	font-size: 4.2vw;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

.show {
	font-size: 1.6vw;
	text-align: left;
	color: #a496ca;
	width: 100%;
	font-weight: normal;
}

.end__bottom-logo {
    width: 10%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-top: auto;
    bottom: 0;
    margin-bottom: 2%;
    z-index: 3;
}

.end__bottom-logo__img {
	width: 100%;
    height: 30%;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.end__follow__me {
    width: 19%;
    height: 8%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 3;
}
}













